<!DOCTYPE html>
<html lang="en">
<head>
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
  <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo">
  <h1>US News Headlines</h1>
  </nav>
<div class="container">
  <div class="calendar">
    <div class="month">
      <i class="fas fa-angle-left prev"></i>
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
      <i class="fas fa-angle-right next"></i>
    </div>
      <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
  <div class="days">
    
    </div>
  </div>
  <div class="right-side" id="rightSide">

  </div>
</div>

<div class="loading-spinner">
  
  <img src="static/hamster.gif" alt="Running hamster" />
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>